<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mvpd.css}" >
</head>
<body>

<div id="login-body" class="loginish dark-background puree-v2">
    <div class="mbr-desktop-hd">
    <span class="column">
        <img th:if="${nodeName == 'verizon'}" src="/img/verizon.png" alt="Mvpd" class="logo" height="72">
        <img th:if="${nodeName == 'comcast'}" src="/img/comcast.png" alt="Mvpd" class="logo" height="72">
    </span>
    </div>

    <div class="login-box-container">
        <div class="login-box center" style="min-height: 300px;">
            <div id="account-attributes-challenge">
                <h1 class="txt-align-center header-text">Sign&nbsp;In</h1>
                <p class="text-sm m-t-8px txt-align-center username-reg-sub-heading">Use your current login and password</p>

                <form id="regform" th:action="@{/login}" class="pure-form pure-form-stacked oneid-form-background reg-form" method="post">
                    <input type="text" id="username" name="username" placeholder="Login" autofocus="autofocus" aria-label="Login" maxlength="97" aria-required="true">
                    <div class="password-field ">
                        <input type="password" id="password" name="password" placeholder="Password" aria-label="Password" maxlength="128" aria-required="true">
                    </div>
                    <span th:if="${loginError}">
                        <p class="error-msg">Wrong user or password</p>
                    </span>
                    <div class="cta-container m-t-24px">
                        <button type="submit" class="pure-button puree-button-primary">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="login-bg-outer">
        <div class="login-bg-inner">
            <div id="login-ad-rich"></div>
        </div>
    </div>
</div>

</body>
</html>

